body{

margin:0;

background:#f5f8fc;

font-family:"Microsoft YaHei";

text-align:center;

}



.box{

width:900px;

margin:60px auto;

background:white;

padding:40px;

border-radius:20px;

box-shadow:0 5px 20px rgba(0,0,0,0.1);

}



h1{

font-size:32px;

}



button{

padding:12px 25px;

font-size:18px;

border:none;

border-radius:10px;

background:#4a90e2;

color:white;

cursor:pointer;

}



button:hover{

background:#1f4e79;

}



#question,
#answer{

margin:30px;

font-size:22px;

line-height:1.8;

}
